<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Comprobante de pago - Kumon Escobedo Centro</h1>
    <table>
      <tr>
        <th>Concepto</th>
        <th>Cantidad</th>
      </tr>
      <tr>
        <td>Pago de mensualidad</td>
        <td>1000.00 MXN</td>
      </tr>
    </table>
  </body>
</html>
